@font-face {
	font-family: icomoon;
	src: url(../fonts/icomoon/icomoon.eot?qtatmt);
	src: url(../fonts/icomoon/icomoon.eot?qtatmt#iefix) format('embedded-opentype'), url(../fonts/icomoon/icomoon.ttf?qtatmt) format('truetype'), url(../fonts/icomoon/icomoon.woff?qtatmt) format('woff'), url(../fonts/icomoon/icomoon.svg?qtatmt#icomoon) format('svg');
	font-weight: 400;
	font-style: normal
}

[class*=" icon-"],
[class^=icon-] {
	font-family: icomoon;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-heart:before {
	content: "\f004"
}

.icon-home:before {
	content: "\f015"
}

.icon-download:before {
	content: "\f019"
}

.icon-refresh:before {
	content: "\f021"
}

.icon-font:before {
	content: "\f031"
}

.icon-italic:before {
	content: "\f033"
}

.icon-text-height:before {
	content: "\f034"
}

.icon-text-width:before {
	content: "\f035"
}

.icon-image:before {
	content: "\f03e"
}

.icon-info-circle:before {
	content: "\f05a"
}

.icon-arrow-left:before {
	content: "\f060"
}

.icon-arrow-right:before {
	content: "\f061"
}

.icon-arrow-up:before {
	content: "\f062"
}

.icon-phone:before {
	content: "\f095"
}

.icon-twitter:before {
	content: "\f099"
}

.icon-facebook:before {
	content: "\f09a"
}

.icon-github:before {
	content: "\f09b"
}

.icon-arrow-circle-left:before {
	content: "\f0a8"
}

.icon-arrow-circle-right:before {
	content: "\f0a9"
}

.icon-arrow-circle-up:before {
	content: "\f0aa"
}

.icon-globe:before {
	content: "\f0ac"
}

.icon-briefcase:before {
	content: "\f0b1"
}

.icon-link:before {
	content: "\f0c1"
}

.icon-copy:before {
	content: "\f0c5"
}

.icon-linkedin:before {
	content: "\f0e1"
}

.icon-coffee:before {
	content: "\f0f4"
}

.icon-circle:before {
	content: "\f111"
}

.icon-github-alt:before {
	content: "\f113"
}

.icon-code:before {
	content: "\f121"
}

.icon-info:before {
	content: "\f129"
}

.icon-html5:before {
	content: "\f13b"
}

.icon-css3:before {
	content: "\f13c"
}

.icon-toggle-up:before {
	content: "\f151"
}

.icon-toggle-right:before {
	content: "\f152"
}

.icon-apple:before {
	content: "\f179"
}

.icon-android:before {
	content: "\f17b"
}

.icon-toggle-left:before {
	content: "\f191"
}

.icon-university:before {
	content: "\f19c"
}

.icon-google:before {
	content: "\f1a0"
}

.icon-language:before {
	content: "\f1ab"
}

.icon-send:before {
	content: "\f1d8"
}

.icon-header:before {
	content: "\f1dc"
}

.icon-at:before {
	content: "\f1fa"
}

.icon-area-chart:before {
	content: "\f1fe"
}

.icon-line-chart:before {
	content: "\f201"
}

.icon-toggle-on:before {
	content: "\f205"
}

.icon-connectdevelop:before {
	content: "\f20e"
}

.icon-whatsapp:before {
	content: "\f232"
}

.icon-500px:before {
	content: "\f26e"
}

.icon-mail2:before {
	content: "\e002"
}

.icon-toggle:before {
	content: "\e003"
}

.icon-link2:before {
	content: "\e005"
}

.icon-image2:before {
	content: "\e010"
}

.icon-target:before {
	content: "\e012"
}

.icon-heart2:before {
	content: "\e024"
}

.icon-paper:before {
	content: "\e034"
}

.icon-download2:before {
	content: "\e069"
}

.icon-head:before {
	content: "\e074"
}

.icon-briefcase2:before {
	content: "\e075"
}

.icon-globe2:before {
	content: "\e078"
}

.icon-box2:before {
	content: "\e079"
}

.icon-alt:before {
	content: "\e088"
}

.icon-arrow-left2:before {
	content: "\e094"
}

.icon-arrow-right2:before {
	content: "\e095"
}

.icon-arrow-up2:before {
	content: "\e096"
}

.icon-content-right:before {
	content: "\e100"
}

.icon-content-left:before {
	content: "\e101"
}

.icon-grid2:before {
	content: "\e102"
}

.icon-grid-2:before {
	content: "\e103"
}